<div id="carouselExampleIndicators" class="carousel slide carousel-fade overflow-hidden" data-ride="carousel"
    data-interval="4000">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
            <div class="dot"></div>
        </li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1">
            <div class="dot"></div>
        </li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2">
            <div class="dot"></div>
        </li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3">
            <div class="dot"></div>
        </li>
    </ol>
    <div class="carousel-inner h-100">
        <div *ngFor="let item of listBanner; let i = index; let first = first" [class.active]="first"
            class="carousel-item h-100" [ngStyle]="{'background-image':'url('+item.background+')'}">
        </div>
    </div>
</div>