.header {
    margin-top: 60px;
    height: 400px;
    background-image: url("assets/images/img_bg_1.jpg");
    background-size: cover;
    .header-content {
        background: linear-gradient(
            to right,
            white 0%,
            white 35%,
            rgba(255, 255, 255, 0) 100%,
            rgba(255, 255, 255, 0) 100%
        );
    }
}
