<div class="sequence-container container-fluid">
    <div class="row">
        <div class="col-lg-6 sequence-bg d-none d-md-block">
        </div>
        <div class="col-lg-6 col-12 sequence-content d-flex align-items-center py-4">
            <div class="content py-5 px-5 bg-white">
                <div class="sequence-title py-5">
                    <h4 class="font-weight-bold">WHAT MAKES US BEST?</h4>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <div class="content-item mb-5">
                            <div class="row">
                                <div class="col-2 col-md-1 col-lg-3">
                                    <span class="icon text-primary">
                                        <i class="fas fa-user-md"></i>
                                    </span>
                                </div>
                                <div class="col-10 col-md-11 col-lg-9">
                                    <div class="text pl-2">
                                        <h5>Qualified Doctors</h5>
                                        <p>A small river named Duden flows by their place and supplies it with the
                                            necessary
                                            regelialia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-item mb-5">
                            <div class="row">
                                <div class="col-2 col-md-1 col-lg-3">
                                    <span class="icon text-primary">
                                        <i class="fas fa-stethoscope"></i>
                                    </span>
                                </div>
                                <div class="col-10 col-md-11 col-lg-9">
                                    <div class="text pl-2">
                                        <h5>Free Consultation</h5>
                                        <p>A small river named Duden flows by their place and supplies it with the
                                            necessary
                                            regelialia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-6">
                        <div class="content-item mb-5">
                            <div class="row">
                                <div class="col-2 col-md-1 col-lg-3">
                                    <span class="icon text-primary">
                                        <i class="fas fa-file-invoice"></i>
                                    </span>
                                </div>
                                <div class="col-10 col-md-11 col-lg-9">
                                    <div class="text pl-2">
                                        <h5>Online Enrollment</h5>
                                        <p>A small river named Duden flows by their place and supplies it with the
                                            necessary
                                            regelialia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-item mb-5">
                            <div class="row">
                                <div class="col-2 col-md-1 col-lg-3">
                                    <span class="icon text-primary">
                                        <i class="fas fa-procedures"></i>
                                    </span>
                                </div>
                                <div class="col-10 col-md-11 col-lg-9">
                                    <div class="text pl-2">
                                        <h5>Modern Facilities</h5>
                                        <p>A small river named Duden flows by their place and supplies it with the
                                            necessary
                                            regelialia.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>