<div class="support">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 p-0">
        <img src="assets/images/support.svg" alt="support" class="w-100">
      </div>
      <div class="col-lg-8 my-auto">
        <h4 class="font-weight-bold text-right support-title pr-2">
          DỊCH VỤ TẠI BỆNH VIỆN QUÂN Y 7A
        </h4>
      </div>

      <div class="col-lg-4 mb-4 p-4 card cursor-pointer">
        <div class="spt-header p-2">
          <i style="font-size: 60px" class="fas fa-briefcase-medical text-primary"></i>
        </div>
        <div class="spt-body p-2">
          <p class="font-weight-bold mb-0 text-primary">
            Hỗ trợ y tế
          </p>
        </div>
        <div class="spt-skew h-100 rounded position-absolute">
          <p class="spt-content text-white text-right">
            Khi gặp các vấn đề về y tế, hoặc trường hợp khẩn cấp.
          </p>
        </div>
        <div class="medical spt-img h-100 rounded position-absolute">
        </div>
      </div>

      <div class="col-lg-4 mb-4 p-4 card cursor-pointer">
        <div class="spt-header p-2">
          <i style="font-size: 60px" class="fas fa-phone text-primary"></i>
        </div>
        <div class="spt-body p-2">
          <p class="font-weight-bold mb-0 text-primary">
            Hỗ trợ đặt khám
          </p>
        </div>
        <div class="spt-skew h-100 rounded position-absolute">
          <p class="spt-content text-white text-right">
            Hỗ trợ đặt khám mọi lúc mọi nơi, trên mọi nền tảng.
          </p>
        </div>
        <div class="phone spt-img h-100 rounded position-absolute">
        </div>
      </div>

      <div class="col-lg-4 mb-4 p-4 card cursor-pointer">
        <div class="spt-header p-2">
          <i style="font-size: 60px" class="fab fa-facebook-square text-primary"></i>
        </div>
        <div class="spt-body p-2">
          <p class="font-weight-bold mb-0 text-primary">
            Fan page Facebook
          </p>
        </div>
        <div class="spt-skew h-100 rounded position-absolute">
          <p class="spt-content text-white text-right">
            Kết nối với trang fanapage của chúng tôi.
          </p>
        </div>
        <div class="facebook spt-img h-100 rounded position-absolute">
        </div>
      </div>

      <div class="col-lg-4 p-4 card mt-4 cursor-pointer">
        <div class="spt-header p-2">
          <i style="font-size: 60px;" class="fas fa-user-check text-primary"></i>
        </div>
        <div class="spt-body p-2">
          <p class="font-weight-bold mb-0 text-primary">
            Khám sức khỏe
          </p>
        </div>
        <div class="spt-skew h-100 rounded position-absolute">
          <p class="spt-content text-white text-right">
            Thực hiện kiểm tra tổng quát nhằm phát hiện kịp thời các bệnh lí nguy hiểm.
          </p>
        </div>
        <div class="qr spt-img h-100 rounded position-absolute">
        </div>
      </div>

      <div class="col-lg-4 p-4 card mt-4 cursor-pointer">
        <div class="spt-header p-2">
          <i style="font-size: 60px" class="fab fa-facebook-messenger text-primary"></i>
        </div>
        <div class="spt-body p-2">
          <p class="font-weight-bold mb-0 text-primary">
            Kênh liên lạc 24/7
          </p>
        </div>
        <div class="spt-skew h-100 rounded position-absolute">
          <p class="spt-content text-white text-right">
            Nhắn tin trực tiếp, phản hổi nhanh, hỗ trợ nhiệt tình.
          </p>
        </div>
        <div class="messenger spt-img h-100 rounded position-absolute">
        </div>
      </div>

      <div class="col-lg-4 pt-4 pr-0 pl-4 text-right">
        <p class=" p-2">
          Mang lại một phương thức giúp thân nhân và người bệnh có thể tiếp cận với các dịch vụ khám chữa bệnh một cách
          dễ dàng, nhanh chóng và thuận lợi nhất.
        </p>
        <button [routerLink]="['/department']" routerLinkActive="router-link-active"  class="btn btn-primary p-2">
          Tìm hiểu thêm
        </button>
      </div>

    </div>
  </div>
</div>
